body{
    position: absolute;
    height:100%;
    width:fit-content;
    background-color: #00171F;
    scroll-behavior: smooth;
    font-family: 'Fira Code', 'Source Code Pro', 'Courier New', monospace;
    overflow-x: hidden;
    
}
body #hintContainer{
    position:absolute;
    width:fit-content;
    height:fit-content;
    padding:1%;
    border-radius: 20px;
    opacity: 0;
    background-color: #001f54;
    color:white;
    border: solid #f8f7ff 2px;
    z-index: 10000;
    font-size: 1vw;
}
body #simulation{
    position:relative;
    height:100%;
    top:0;
    left:0;
    display: grid;
    grid: 5% auto auto auto auto auto/ auto auto auto auto;
    row-gap:2%;
    column-gap: 2%;
    padding:0;
}
hr{
    padding:0;
    margin: 0;
}
body #simulation #header{
    grid-area: 1 / 1 / span 1 / span 4;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-around;
    position:relative;
    width:80%;
    font-size:1vw;
}

body #simulation #header #message{
    position:relative;
    width:40%;
    height:100%;
    border-radius: 20px;
    background-color: #00A7E1;
    border:transparent;
    color:#014f86;
    font-size: 1.5vw;
    padding-left: 2%;
}
body #simulation #header #speed{
    border-radius: 20px;
    height:100%;
    background-color: cyan;
    border:transparent;
    color:#014f86;
    font-size: 1.5vw;
    padding-left: 2%;
    width:30%;
}
body #simulation #header .button{
    position:relative;
    height:3vw;
    color:white;
    width:3vw;

    border-radius: 100px;
    border-width: 0;
    cursor: pointer;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



body #simulation #header .button{
    background-color: #AAAAAA;
}


body #simulation #header .button:nth-child(4){
    background-color: #AA2200;
}



body #simulation #convert{
    grid-area: 2 / 1 / span 1 / span 4;
    display:inline-grid;
    row-gap: 0;
    grid: auto auto auto auto auto/ 15% 85%;
    color:white;
    position:relative;
    height:auto;
    word-wrap: break-word;
    border-width: 0.2vw;
    border-radius: 20px;
    padding:3%;
}

body #simulation #convert #convertTitle{
    grid-area: 1 / 1 / span 5 / span 1;
    display: flex;
    align-items: center;
    font-size:1vw;
    justify-content: center;
}

body #simulation #convert .convertContent{
    display: flex;
    align-self: center;
    justify-self: center;

    font-size:1vw;
    word-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body #simulation #convert .convertContent:nth-child(2n){
    color:#0088DD;
}
body #simulation #messageBlock{
    position:relative;
    grid-area: 3/ 1 / span 1 / span 4;
    color:white;
    display: grid;
    grid: auto auto 50%/auto;
    word-wrap: break-word;
    border-width: 0.2vw;
    border-radius: 20px;
    padding:5%;
    height:max-content;
    font-size:1vw;
}
body #simulation #messageBlock #messageTitle{
    margin-bottom: 3%;
}
body #simulation #messageBlock #messageContainer{
    height:fit-content;
}
body #simulation #messageBlock #messageContainer #messagePadding{
    color:yellow
}
body #simulation #messageBlock #messageContainer #messageLength{
    color:lightgreen;
}

body #simulation #messageBlock #description{
    position:relative;
    height:max-content;
}

body #simulation #messageSchedule{
    grid-area: 4 / 1 / span 1 / span 1;
    font-size: 0.8vw;
    display:inline-grid;
    row-gap: 0;
    width:fit-content;
    grid: 1% auto/ auto ;
    color:white;
    position:relative;
    border-width: 0.2vw;
    word-wrap: break-word;
    border-radius: 20px;
    padding:3%;
}

body #simulation #messageSchedule #messageScheduleContent{
    margin-top: 5%;
    grid-area: 2 / 1 / span 1 / span 1;
    font-size: 1vw;
}

body #simulation #messageSchedule #messageScheduleContent .messageGroup{
    display: inline-grid;
    position: relative;
    width:100%;
    grid: auto / 20% 80%;
}

body #simulation #messageSchedule #messageScheduleContent .messageGroup .groupName{
    color: gold;
}

body #simulation #messageSchedule #messageScheduleContent .messageGroup .groupContent{
    color:#0077b6;
}

body #simulation #process{
     grid-area: 4 / 2 / span 1 / span 2;
    display:inline-grid;
    row-gap: 0;
    grid: 3% auto auto/ auto;
    color:white;
    position:relative;
    word-wrap: break-word;
    border-radius: 20px;
    padding: 5%;
    opacity: 0;
    border-width: 0.2vw;
    font-size: 1vw;

}
body #simulation #process #processTitle{
    grid-area: 1 /1 / span 1 / span 1;
}
body #simulation #process #container1 {
    grid-area: 2 /1 / span 1 / span 1;

}   
body #simulation #process #container1 #container11{
    font-size: 1vw;
    position: relative;
    

}
body #simulation #process #container1 #container11 #itemTitle11{
    margin-top: 3%;
    display: flex;
    justify-self: center;
}
body #simulation #process #container1 #container11 .itemContainer11{
    position:relative;
    width:100%;
    display: inline-grid;
    grid: 100% / 5% 25% 75%;
    margin: 3%;
}

body #simulation #process #container1 #container12{
    font-size: 1vw;
    color:lightgreen;
    position: relative;

}
body #simulation #process #container1 #container12 #itemTitle12{
    margin-top: 3%;
    display: flex;
    justify-self: center;
}
body #simulation #process #container1 #container12 .itemContainer12{
    position:relative;
    width:100%;
    display: inline-grid;
    grid: 100% / 5% 25% 75%;
}

body #simulation #process #container1 #container13{
    font-size:1vw;
        margin-top: 10%;
    
}
body #simulation #process #container1 #container13 .itemContainer13{
    position:relative;
    width:100%;
    display: inline-grid;
    grid: 100% / 5% 20% 75%;

}

body #simulation #process #disclaimer{
    font-size: 1vw;
    grid-area: 3 / 1 / span 1 / span 1;
}

body #simulation #KConstant{
    grid-area: 4 / 4 / span 1 / span 1;
    display:inline-grid;
    row-gap: 0;
    grid: 2% auto/ auto ;
    color:white;
    position:relative;
    word-wrap: break-word;
    border-radius: 20px;
    padding:3%;  
    font-size: 1vw;
    opacity: 0;
    border-width: 0.2vw;
}

body #simulation #kContent{
    grid-area: 2 / 1 / span 1 / span 1;
    font-size: 1vw;
}

body #simulation #kContent .kGroup{
    display: inline-grid;
    position: relative;
    width:100%;
    grid: auto / 20% 80%;
}

body #simulation #kContent .kGroup .kgroupName{
    color: gold;
}

body #simulation #kContent .kGroup .kgroupContent{
    color:#00DDDD;
}

body #simulation #process2{
    grid-area: 4 / 2 / span 1 / span 2;
    display:inline-grid;
    row-gap: 0;
    grid: auto auto / auto;
    color:white;
    position:relative;
    word-wrap: break-word;
    border-radius: 20px;
    height:fit-content;
    padding: 3%;
    font-size:1vw;
    opacity: 0;
    border-width: 0.2vw;
}
body #simulation #process2 #container21 .varContainer{
    display: inline-grid;
    grid: 100% / auto auto;
    position:relative;
    width:100%;
}

body #simulation #process2 #container21 .varContainer .varName{
    color:gold;

    grid-area: 1 / 1 / span 1 / span 1;

}

body #simulation #process2 #container21 .varContainer .varValue{
    grid-area: 1 / 2 / span 1 / span 1;
    font-size:0.9vw;
}

body #simulation #process2 #container22{

     font-size:0.9vw;
}

body #simulation #process2 #container22 .calcContainer{
    position:relative;
    width:100%;
    display: inline-grid;
    grid: 100% / 5% 25% 75%;
}
body #simulation #process2 #container23{
    font-size:0.9vw;
}
body #simulation #process2 #container23 .calcContainer{
    position:relative;
    width:100%;
    display: inline-grid;
    grid: 100% / 0% 30% 70%;
}
body #simulation #process2 #container24 {
    font-size:0.9vw;
}
body #simulation #process2 #container24 .calcContainer{
    position:relative;
    width:100%;
    display: inline-grid;
    grid: 100% / 5% 25% 75%;
}
body #simulation #process2 #container25 {
    font-size:0.9vw;
}
body #simulation #process2 #container25 .calcContainer{
    position:relative;
    width:100%;
    display: inline-grid;
    grid: 100% / 5% 25% 75%;
}
body #simulation #process2 #container26 {
    font-size:0.9vw;
}
body #simulation #process2 #container26 .calcContainer{
    position:relative;
    width:100%;
    display: inline-grid;
    grid: 100% / 5% 25% 75%;
}



body #simulation #process2 #container27 {
    font-size:0.9vw;
}
body #simulation #process2 #container27 .calcContainer{
    position:relative;
    width:100%;
    display: inline-grid;
    grid: 100% / 5% 25% 75%;
}
body #simulation #process2 #container27 .calcContainer .operatorResultT2:nth-child(3){
    color: #44bba4;
}
body #simulation #process2 #container28 {
    font-size:0.9vw;
    
}
body #simulation #process2 #container28 .calcContainer{
    position:relative;
    width:100%;
    display: inline-grid;
    grid: 100% / 25% 75%;
    
}

body #simulation #process2 #container28 .calcContainer .operatorResultNewVar{
    color:#00a7e1;
}

body #simulation #process2 #container20 {
    font-size:0.9vw;
}
body #simulation #process2 #container20 .varContainerH{
    position:relative;
    width:100%;
    display: inline-grid;
    color:gold;
    grid: 100% / 30% 70%;
}
body #simulation #result{
    grid-area: 5 / 1 / span 1 / span 4;
    display: grid;
    grid: auto auto/30% auto;
    position:relative;
    height:max-content;
    font-size:2vw;
    color:white;
    padding-bottom: 2%;
    
}
body #simulation #result #resultTitle{
    grid-area: 1/ 1/ span 1 / span 2;
    font-size: 1vw;
    
}
body #simulation #result #calcHashContainer .containerHash{
    margin-top: 2%;
}
body #simulation #result #calcHashContainer .containerHash .calcContainerHash{
    font-size:0.8vw;
    position:relative;
    color:#00a7e1;
    width: 100%;
    display: grid;
   grid: 100% / 5% 10% 60% 15%;
  
}
body #simulation #result #resultContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}

body #simulation #result #resultContentResult{
    color: cyan;
    font-size: 1.5vw;
}

body #simulation #disclaimer{
    grid-area:6 / 1 / span 1 / span 4;
    font-size: 1.5vw;
}
